body {
    background: linear-gradient(260deg, rgb(250, 213, 1), rgb(195, 221, 143), rgb(250, 213, 1));
}

.Maincontainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;

}

.container {
    width: 390px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.subcontainer {
    padding: 20px;

}

.subcontainer button {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background-color: #316e33;
    color: white;
    border: none;
    border-radius: 5px;
}

.subcontainer .int {
    width: 200px;
    height: 25px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    outline: none;
}

.subcontainer lable {
    font-size: 18px;
    font-weight: 500;
}

.count {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.count button {
    width: 100px;
    height: 40px;
    margin: 0px 10px;
    margin-bottom: 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.Maincount h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    color: #333;

}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    font-size: 20px;
    font-weight: 500;
}

.link {
    text-decoration: none;
    color: black;
}

.heading {
    font-size: 50px;
    color: rgb(2, 66, 185);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 150px;
    text-shadow: 2px 2px 2px rgb(32, 29, 29);
}

.outputcontainer {
    padding: 20px;
    border: 1px solid gray;
    width: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.outputcontainer h3 {
    margin: 10px 0px;
    font-size: 20px;
    color: darkslategray;

}

.outputcontainer b {
    font-weight: 600;
    color: rgb(10, 5, 248);
}
.prop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.btn{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    background-color: #6a8ace;
    color: white;
    border: none;
    border-radius: 5px;
    
}
.prop-name{
     padding: 20px;
    border: 1px solid gray;
    width: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    
}
.prop-name h3{
     margin: 10px 0px;
    font-size: 20px;
    color: darkslategray;
}
.prop-name b{
    font-weight: 600;
    color: rgb(10, 5, 248);
}
.headclickevents{
    text-align: center;
    color: #333;
    margin-top: 50px;
}
.mainclickevents{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.clickEvent h2{
    color: green;
    font-size: 30px;
}
.clickEvent button{
    width: 150px;
    height: 40px;
    background-color: #f08a24;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.clickEvent input{
    width: 200px;
    height: 25px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    outline: none;
}

.useeffect-hook{
    text-align: center;
    color: #333;
    margin-top: 50px;
}
.useeffect-hook button{
    width: 150px;
    height: 40px;
    background-color: #2483f0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}